* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

.pageContainer{
  /*background-color: #14248A;*/
}

header h1 {
  color: black;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

header h1 a {
  color: black;
  text-decoration: none;
}

header h1 a:hover {
  color: black;
  text-decoration: none;
}

nav {
  text-align: center;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 25px;
  text-transform: uppercase;
  font-family: Tahoma;
}

nav ul li a{
  color: black;
  font-size: 16px;
  font-family: Tahoma;
  /*font-weight: bold;*/
  text-align: center;
  text-decoration: none;
}


nav ul li a:active {
  color: white;
}

nav ul li a:hover {
  color: white;
  background-color: black;
  padding: 15px 10px 15px 10px;
  text-decoration: none;

}

/* Dog Partial Styling */
.dogeText{
  color: #F2AF29;
  text-align: center;
}

.dogeGifs{
  border-radius:50px;
  border:2px solid #F2AF29;
  max-width: 200px;
  max-height: 200px;
}
/* Cat Partial Styling */
.catText{
  color: #F2AF29;
  text-align: center;
}

.catGifs{
  border-radius:50px;
  border:2px solid #F2AF29;
  max-width: 200px;
  max-height: 200px;
}
/* Jenn Partial Styling */

.jennText{
  color: #F2AF29;
  text-align: center;
}

.lionCub {
  border-radius:50px;
  border:2px solid #F2AF29;
  display: block;
  margin: auto;
}

.search {
  border: 2px solid red;
}

.badgeSearch {
  border-radius:5px;
  text-align: center;
}

::-webkit-input-placeholder {
   color: blue;
}

:-moz-placeholder { /* Firefox 18- */
   color: blued;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: blue;
}

:-ms-input-placeholder {
   color: blue;
}

.jennBadges  {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: auto;
}

.footer {
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 20px;
}
